body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar {
  width: 0
}

.custom-classname.react-toggle--checked .react-toggle-track {
  background-color: rgba(59,232,176, 1);
}

.custom-classname.react-toggle--checked:hover .react-toggle-track:hover {
  background-color: rgba(59,232,176, 1);
}